body, html{
  padding: 0;
  margin:0;
  overflow-x:hidden;
}

h2{
  margin-bottom: 40px;
}

#wholeNav {
  height: 5em!important;
}

footer {
  margin-top: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 16em;
  background-color: #878787;
  color: #d8d8d8;
  .container-fluid {
    text-align: center;
  }
  p {
    margin: 0;
  }
}

#mainNav {
  font-size: 18px;
}

#mainNav ul li.main, #login {
  border-left: 1px #ccc solid;
}

#mainNav ul li:hover {
  background-color: #eeeeee;

}

#last, .right-nav {
  border-right: 1px #ccc solid;
  border-left: 1px #ccc solid;
}

