html {
  position: relative;
  min-height: 100%;
}

body{
  margin: 0 0 16em; /* bottom = footer height */
  overflow-x:hidden;
  background: #feffef;
}

h2{
  margin-bottom: 40px;
}

#wholeNav {
  height: 5em!important;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 16em;
  background-color: #878787;
  color: #d8d8d8;

  .container-fluid {
    text-align: center;
  }
  p {
    margin: 0;
  }
}
.flash_message {
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
}

#mainNav {
  font-size: 18px;
}

#mainNav ul li.main, #login {
  border-left: 1px #ccc solid;
}

#mainNav ul li:hover {
  background-color: #eeeeee;

}

#categories, .right-nav {
  border-right: 1px #ccc solid;
  border-left: 1px #ccc solid;
}

#last, #myQuizzes {
  border-right: 1px #ccc solid;
  border-left: none!important;
}

