body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#wholeNav {
  height: 5em !important;
}

footer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 16em;
  background-color: #878787;
  color: #d8d8d8;
}

footer p {
  margin: 0;
}

#mainNav {
  font-size: 18px;
}

#mainNav ul li.main,
#login {
  border-left: 1px #ccc solid;
}

#mainNav ul li:hover {
  background-color: #eeeeee;
}

#last,
.right-nav {
  border-right: 1px #ccc solid;
  border-left: 1px #ccc solid;
}

