/* =================== COMPONENTS ================================== */
.quiz-panel.panel.panel-default {
  height: 300px;
}

/* ======================== HOMEPAGE STYLES ========================= */

#homelanding {
  width: 100%;
  height: 30vw;
  background-position: top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

#mostPopular {
  margin-top: 50px;
  .quiz-photo {
    width: 100%;
    height: 10vw;
  }
}



/* ======================================= CATEGROY PAGE ============================================= */
section#category {
  background-color: #2ab27b;
  color:white;
  h2, h3, h4 {
    margin-left: 0.1%;
  }
}

section#banner {
  margin-top: 50px;
  color:white;
  h3, h4 {
    color: white;
  }
  div.row.banner {
    background-color: #555555;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  #image {
    display:flex;
    align-items:center;
    justify-content:center;
  }
}

section#categoryQuizzes {
   margin-top: 50px;
}

/* ================================ AUTHORIZATION PAGES ====================================== */
section#login {
  min-height: calc(100vh - 16em);
  margin-top: 50px;
  margin-bottom: 50px;
}

#loginFacebook {
  background: #3b5998;
  color: white;
  margin-left: 20px;
}


