$border_main: #ddd;
/* =================== COMPONENTS ================================== */
.quiz-panel.panel.panel-default {
  height: 300px;
  h4 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  .quiz-photo {
    border-bottom: 1px solid $border_main;
    min-height: 180px;
  }
  .premium {
    z-index: 250;
  }
  .unlike-quiz-btn, .like-quiz-btn {
    -webkit-background-size:cover;
    background-size:cover;
    display: inline-block;
    width: 32px;
    height: 30px;
    margin-left: 50%;
  }
  .unlike-quiz-btn{
    background: url('/images/static/liked.png');
  }
  .like-quiz-btn{
    background: url('/images/static/unliked.png');
  }
  img.views {
    display: inline;
  }
  .number-views {
    width: 30%;
    display:inline;
    font-weight: bold;
  }
}

/* ======================= UTILITY CLASSES ========================= */
.wrong-answer {
  box-shadow: 0 0 30px rgba(255, 129, 113, 0.69)!important;
  transition: all 0.5s ease-in-out!important;
}
.right-answer {
  box-shadow: 0 0 30px rgba(124, 255, 114, 0.69) !important;
  transition: all 0.5s ease-in-out !important;
}
.left-bordered {
  border-left: $border_main solid 1px;
}


/* ======================== HOMEPAGE STYLES ========================= */

#homelanding {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vw;
  background: url('/images/static/lamp.jpeg');
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;

  .form-wrapper {
    width: 30%;
    height: 80px;
    padding: 15px;
    background: #444;
    background: rgba(0,0,0,.2);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);

    input {
      width: 100%;
      height: 50px;
      background-color: inherit;
      margin: 0;
      color: #EEEEEE;
      padding: 5px;
    }

    input:focus{
      background-color: rgba(170, 170, 170, 0.33);
      color: #EEEEEE;
      font-size: 18px;
      outline: none;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 18px;
      color: #EEEEEE;
      text-transform: uppercase;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      font-size: 18px;
      color: #EEEEEE;
      text-transform: uppercase;
    }
    :-ms-input-placeholder { /* IE 10+ */
      font-size: 18px;
      color: #EEEEEE;
      text-transform: uppercase;
    }
    :-moz-placeholder { /* Firefox 18- */
      font-size: 18px;
      color: #EEEEEE;
      text-transform: uppercase;
    }
  }
}

#howItWorks {
  margin-top: 90px;
  margin-bottom: 70px;
  .step {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  img {
    margin: 0 auto;
    width: 30%;
  }
}

#mostPopular {
  margin-top: 100px;
  h2 {
    margin-bottom: 50px;
  }
  .quiz-photo {
    width: 100%;
    height: 10vw;
  }
}


/* ==================================== QUIZZES FOR TEACHERS PAGE =================================== */
#myCreated {
  margin-top: 50px;
  .fa-trash-o {
    color:darkred;
  }
}
section#newQuizButton {
  margin-bottom: 19em;
}



/* ======================================= CATEGORY PAGE ============================================= */
section#category {
  background-color: #2ab27b;
  h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #dddddd;
    small {
      color: #ddd;
      font-size: 20px;
    }
  }
}

section#banner {
  .main-quiz.img-circle {
    max-height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .button-play {
    margin-bottom: 15px;
  }
}

section#banner {
  margin-top: 50px;
  color:white;
  h3, h4 {
    color: white;
  }
  div.row.banner {
    background-color: #555555;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  #image {
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .quiz-link {
    margin-bottom: 10px;
  }
}

section#categoryQuizzes {
   margin-top: 50px;
}

/* ================================ AUTHORIZATION PAGES ====================================== */
section#login {
  margin-top: 50px;
  margin-bottom: 50px;
}

#loginFacebook {
  background: #3b5998;
  color: white;
  margin-left: 20px;
}

#signupForm {
  margin-bottom: 40px;
}


/* ================================ CREATE A QUIZ ============================================== */

section#newQuestions {
  .quiz-info {
    padding: 20px 20px 0 20px;
  }
  .questions.panel {
    padding: 20px;
  }
  .quiz-info:hover, .questions.panel:hover {
    background-color: #EEEEEE;
  }
  .panel.buttons {
    padding: 20px;
    button {
      margin-right: 5px;
    }
    label {
      color: red;
      margin-left: 10px;
    }
  }
}


/* ============================== PROFILE PAGE ========================================== */
section#profileInfo {

  #profilePicture{
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 60%;
      max-height: 60%;
      border-radius: 5px;
    }
  }
  #img1, #img2, #img3, #img4 {
    width: 15%;
    position:absolute;
  }
  #img2 {
    top: 30vw;
    left: 5vh;
  }
  #img4{
    right: 15%;
  }
}

/* ========================= EDIT PROFILE PAGE ========================================= */

#conditions {
  margin-top: 30px;
}

#editProfileHead {
  margin-bottom: 30px;
}

/* =================================== EDIT QUIZ PAGE =================================== */

section#newQuestions {
  .buttons {
    padding: 15px;
  }
  .quiz-info.panel {
    padding-bottom: 15px;
  }
}

/* =============================== PREMIUM LANDING ==================================== */
#premiumLanding {
  margin-bottom: 160px;
}

/* =============================== PLAY QUIZ PAGE ====================================== */
section#quizHead {
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
section#quizPlay {
  margin-top: 20px;
  margin-bottom: 18em;
  #wrapper {
    padding: 40px;
    min-height: 55vh;
  }
}


