/* =================== COMPONENTS ================================== */

.quiz-panel.panel.panel-default {
  height: 300px;
}

.quiz-panel.panel.panel-default h4 {
  margin: 0;
}

.quiz-panel.panel.panel-default p {
  margin: 0;
}

.quiz-panel.panel.panel-default .quiz-photo {
  border-bottom: 1px solid #ddd;
  min-height: 180px;
}

.quiz-panel.panel.panel-default .premium {
  z-index: 250;
}

.quiz-panel.panel.panel-default .unlike-quiz-btn,
.quiz-panel.panel.panel-default .like-quiz-btn {
  background-size: cover;
  display: inline-block;
  width: 32px;
  height: 30px;
  margin-left: 50%;
}

.quiz-panel.panel.panel-default .unlike-quiz-btn {
  background: url("/images/static/liked.png");
}

.quiz-panel.panel.panel-default .like-quiz-btn {
  background: url("/images/static/unliked.png");
}

.quiz-panel.panel.panel-default img.views {
  display: inline;
}

.quiz-panel.panel.panel-default .number-views {
  width: 30%;
  display: inline;
  font-weight: bold;
}

/* ======================= UTILITY CLASSES ========================= */

.wrong-answer {
  -webkit-box-shadow: 0 0 30px rgba(255, 129, 113, 0.69) !important;
          box-shadow: 0 0 30px rgba(255, 129, 113, 0.69) !important;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}

.right-answer {
  -webkit-box-shadow: 0 0 30px rgba(124, 255, 114, 0.69) !important;
          box-shadow: 0 0 30px rgba(124, 255, 114, 0.69) !important;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}

.left-bordered {
  border-left: #ddd solid 1px;
}

/* ======================== HOMEPAGE STYLES ========================= */

#homelanding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40vw;
  background: url("/images/static/lamp.jpeg");
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

#homelanding .form-wrapper {
  width: 30%;
  height: 80px;
  padding: 15px;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

#homelanding .form-wrapper input {
  width: 100%;
  height: 50px;
  background-color: inherit;
  margin: 0;
  color: #EEEEEE;
  padding: 5px;
}

#homelanding .form-wrapper input:focus {
  background-color: rgba(170, 170, 170, 0.33);
  color: #EEEEEE;
  font-size: 18px;
  outline: none;
}

#homelanding .form-wrapper ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 18px;
  color: #EEEEEE;
  text-transform: uppercase;
}

#homelanding .form-wrapper ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 18px;
  color: #EEEEEE;
  text-transform: uppercase;
}

#homelanding .form-wrapper :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 18px;
  color: #EEEEEE;
  text-transform: uppercase;
}

#homelanding .form-wrapper :-moz-placeholder {
  /* Firefox 18- */
  font-size: 18px;
  color: #EEEEEE;
  text-transform: uppercase;
}

#howItWorks {
  margin-top: 90px;
  margin-bottom: 70px;
}

#howItWorks .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

#howItWorks img {
  margin: 0 auto;
  width: 30%;
}

#mostPopular {
  margin-top: 50px;
}

#mostPopular .quiz-photo {
  width: 100%;
  height: 10vw;
}

/* ==================================== QUIZZES FOR TEACHERS PAGE =================================== */

#myCreated {
  margin-top: 50px;
}

#myCreated .fa-trash-o {
  color: darkred;
}

/* ======================================= CATEGORY PAGE ============================================= */

section#category {
  background-color: #2ab27b;
}

section#category h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #dddddd;
}

section#category h2 small {
  color: #ddd;
  font-size: 20px;
}

section#banner .main-quiz.img-circle {
  max-height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

section#banner .button-play {
  margin-bottom: 15px;
}

section#banner {
  margin-top: 50px;
  color: white;
}

section#banner h3,
section#banner h4 {
  color: white;
}

section#banner div.row.banner {
  background-color: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#banner #image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#banner .quiz-link {
  margin-bottom: 10px;
}

section#categoryQuizzes {
  margin-top: 50px;
}

/* ================================ AUTHORIZATION PAGES ====================================== */

section#login {
  margin-top: 50px;
  margin-bottom: 50px;
}

#loginFacebook {
  background: #3b5998;
  color: white;
  margin-left: 20px;
}

#signupForm {
  margin-bottom: 40px;
}

/* ================================ CREATE A QUIZ ============================================== */

section#newQuestions .quiz-info {
  padding: 20px 20px 0 20px;
}

section#newQuestions .questions.panel {
  padding: 20px;
}

section#newQuestions .quiz-info:hover,
section#newQuestions .questions.panel:hover {
  background-color: #EEEEEE;
}

section#newQuestions .panel.buttons {
  padding: 20px;
}

section#newQuestions .panel.buttons button {
  margin-right: 5px;
}

section#newQuestions .panel.buttons label {
  color: red;
  margin-left: 10px;
}

/* ============================== PROFILE PAGE ========================================== */

section#profileInfo #profilePicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#profileInfo #profilePicture img {
  max-width: 60%;
  max-height: 60%;
  border-radius: 5px;
}

section#profileInfo #img1,
section#profileInfo #img2,
section#profileInfo #img3,
section#profileInfo #img4 {
  width: 15%;
  position: absolute;
}

section#profileInfo #img2 {
  top: 30vw;
  left: 5vh;
}

section#profileInfo #img4 {
  right: 15%;
}

/* ========================= EDIT PROFILE PAGE ========================================= */

#conditions {
  margin-top: 30px;
}

#editProfileHead {
  margin-bottom: 30px;
}

/* =================================== EDIT QUIZ PAGE =================================== */

section#newQuestions .buttons {
  padding: 15px;
}

section#newQuestions .quiz-info.panel {
  padding-bottom: 15px;
}

/* =============================== PREMIUM LANDING ==================================== */

#premiumLanding {
  margin-bottom: 160px;
}

/* =============================== PLAY QUIZ PAGE ====================================== */

section#quizHead h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

section#quizPlay {
  margin-top: 20px;
  margin-bottom: 18em;
}

section#quizPlay #wrapper {
  padding: 40px;
}

